include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include pysark100 *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude *.png
global-exclude *.log